h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10vh;
    margin: auto;
    text-align: center;
    margin-top: 50vh;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    color: rgb(181, 174, 174);
}